.about-container{
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    font-family: var(--global-font-family3);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.rowContainer{
    align-items: center;
    justify-content: center;

}

.aboutTitle {
    display: flex;
    flex-direction: column;
}

.aboutTitle > div {
    display: flex;
    justify-content: flex-end;

}

.hashTag{

    background-image: var(--global-color-gradient1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    font-size: 3rem !important;
    font-weight: bold;
}

.aboutTitle h3 {
    font-family: var(--global-font-family3) !important;
    font-weight: 900;
    text-align: right;
    font-size: 28px;

}

.about-container > div > div > .aboutText {
    font-weight: 100;
}

.aboutText > p {
    font-size: 20px;
    line-height: 1.4;
    text-align: right;
    font-weight: bold;
    color: var(--text-light);
}
.aboutText > p > span {
    color: white;
}

.gradient{
    background-image: var(--global-color-gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

@media (max-width: 1000px) {
    .aboutText > p {
        font-size: 16px;
        text-align: right;
    }
    .aboutImg{
        margin: auto;
        margin-bottom: 20px;
        width: 60%;
    }
}


