.contact-container {
    padding: 3rem 2rem;
    background-color:black;
}

.contact-container > div > h3 {
    font-family: var(--global-font-family3);
    font-weight: 900;
    text-align: left;
    font-size: 28px;
    color: #fff ;
}