.contenedor {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    top: 0;
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content:space-around;
    font-family: var(--global-font-family4);
    z-index: 1000;
}

@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }

    .contenedor > div {
        margin-top: 5px;
    }

    .contenedor-hidden {
        display:none;
    }
}

.contenedor>h1 {
    margin: 0;
    font-size: 25px;
}

.logoBeCode{
    background-image: var(--global-color-gradient1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 25px;
}

.contenedor h5 {
    margin: 0;
    color: var(--global-color-one);
}

.navigation-menu a{
    font-family: inherit;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-light);
    font-size: 20px;
    margin: 0 50px;
    transition: .3s linear;
}

.navButton:hover {
    color: var(--global-color-one);
    font-size: 22px;
}


.logoName{
    background-image: var(--global-color-gradient1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 25px;
}

.logoOne{
    color: var(--text-light);
}

@media (max-width: 1192px) {
    .navigation-menu a {
        font-size: 18px;
        margin: 0 10px
    }
    
}

@media (max-width: 1000px) {
    .contenedor>h1, .logoBeCode, .logoName{
        font-size: 20px;
    }
    .navigation-menu a {
        font-size: 16px;
        margin: 0 10px
    }

}